* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
}

.homebox {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url(./Florist0487.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hometext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
  margin-top: 350px;
  margin-bottom: 250px;
}

.hometext p {
  width: 546.06px;
  height: 169.16px;
  color: #fff;
  font-size: 60px;
}

.shopbutton {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 172.69px;
  height: 57.91px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #fff;
  color: #000;
  margin-top: 20px;
}

.framebox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #393d24;
  color: #fff;
  font-size: 20px;
  padding: 30px;
}

.framebox img {
  width: 172.69px;
  height: 68.64px;
}

.framebox p {
  width: 850px;
  margin: 0;
}
