@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: rgb(250, 241, 229);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.logoText {
  font-size: 30px;
  text-decoration: none;
  color: #000;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0 220px;
  margin-right: 400px;
}
.navbarpages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 30px;
}

.links {
  text-decoration: none;
  color: #000;
  line-height: 16px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: 0.3s all ease;
}

.cart {
  position: relative;
  text-decoration: none;
}
span {
  position: absolute;
  margin-bottom: 10px;
  color: #000;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: 0.3s all ease;
}
