.footerpg {
  width: 100%;
  height: 100%;
  background-color: #38383b;
  color: #fff;
  display: flex;
  padding: 50px;
  flex-direction: column;
}

.logo {
  font-size: 35px;
  text-align: left;
  text-decoration: none;
  color: #fff;
}

.footerpages {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 110px;
  text-align: left;
  font-size: 19.2px;
}
.footerpages a {
  color: #a8a6a1;
  height: 27px;
  font-size: 17px;
  text-decoration: none;
}

.footerpages a:hover {
  color: #fff;
}

.socialmedia {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.socialmedia a {
  width: 30px;
}

@media (max-width: 800px) {
  .footerpg {
    height: auto;
    padding: 30px;
  }
}
