@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Lora", serif;
}

body {
  width: 100%;
  height: 100%;
}

/* First main section */
.homebox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.squarespace-cdn.com/content/v1/624b3c6dbfcb28795baabd33/1649097860294-ZW36VSRKLLBG3A4K2KAU/Header_02_022-copy.jpg?format=1500w);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hometext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 170px 0;
}

.hometext p {
  width: 100%;
  max-width: 500px;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.shopbutton {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57.91px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 85px;
  transition: 0.5s all ease-in;
}

.shopbutton:hover {
  background-color: antiquewhite;
  color: #000;
  border: none;
}

/* Fan Favorites section */
.wwd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #38383b;
}

.wwd h1 {
  font-size: 55px;
  letter-spacing: 2px;
  color: #fff;
}

.wwdinfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.imageWrapper {
  width: 90%;
  height: 70%;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wwdinfo p {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.1px;
  color: #fff;
}

.wwdinfo a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 57.91px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.5s all ease-in;
}

.wwdinfo a:hover {
  background-color: #fff;
  color: #000;
  border: none;
}

@media (max-width: 1000px) {
  .wwdinfo p {
    width: 90%;
    height: 35.75px;
    font-size: 21px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .wwdinfo p {
    width: 90%;
    height: 35.75px;
    font-size: 30px;
  }
}

/*& Best seller section - empty right now */

/* Journal section */
.framebox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #a8a6a1;
  color: #fff;
  font-size: 20px;
}
.framebox h1 {
  font-size: 44.8px;
  letter-spacing: 1px;
  font-weight: 400;
}

.afterflowers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.framebox img {
  width: 95%;
  height: 60%;
}

.afterflowers h1 {
  width: 95%;
  font-size: 35.2px;
}
.afterflowers p {
  width: 95%;
  font-size: 19.2px;
  padding: 0 16px;
  box-sizing: border-box;
}

.afterflowers a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57.91px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  background-color: #fff;
  color: #a8a6a1;
  border: none;
  transition: 0.5s all ease-in;
}

.afterflowers a:hover {
  background-color: #000;
  color: #fff;
}

/* Sign up section */
.signuppg {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(https://images.squarespace-cdn.com/content/v1/624b3c6dbfcb28795baabd33/1649097860349-HKXFVXFJOL0J8C1UMRCY/Texture_12_003-1-copy.jpg?format=1500w);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 100px;
}

.signuppg h1 {
  font-size: 44px;
}

.signuppg p {
  font-size: 20px;
  font-weight: 500;
}

.signuppg input {
  width: 100%;
  max-width: 266.25px;
  height: 62px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  padding: 20px;
  background-color: #fff;
  color: #a8a6a1;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.signupbttn {
  text-decoration: none;
  color: #fff;
  background-color: #a8a6a1;
  width: 110px;
  height: 60px;
  padding: 20px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s all ease-in;
}

.signupbttn:hover {
  /* opacity: 90%; */
  background-color: #E5E5E6;
  color: #4B4B4E;
}

/* Gift card section */
.sendflowers {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a8a6a1;
  color: #fff;
}
.sendflowers img {
  text-align: center;
  width: 100%;
  height: 100%;
}

.btnandtxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.sendflowers h1 {
  width: 100%;
  font-size: 40px;
  letter-spacing: 2px;
}

.sendflowers p {
  width: 100%;
  font-size: 18px;
  letter-spacing: 1px;
}

.sendflowers a {
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 57.91px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #fff;
  transition: 0.7s;
}

.sendflowers a:hover {
  background-color: #fff;
  color: #a8a6a1;
}
